<a href="https://colab.research.google.com/github/penvarict/DOX_Assignments/blob/main/classtutorial_grafts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Vein Grafting - DOX

In [308]:
import numpy as np
import pandas as pd
import io
from pprint import pprint
# from google.colab import files
# uploaded = files.upload() # bring up dialog for file input.

In [309]:
df = pd.read_csv('/content/VascularData.csv')
print(df.describe())
print(df)

         Pressure    Block 1    Block 2    Block 3    Block 4    Block 5  \
count     4.00000   4.000000   4.000000   4.000000   4.000000   4.000000
mean   8800.00000  87.700000  89.750000  91.000000  90.550000  85.325000
std     258.19889   4.534314   0.714143   5.263712   4.369973   4.303003
min    8500.00000  82.500000  89.200000  85.600000  86.200000  78.900000
25%    8650.00000  84.750000  89.425000  88.600000  87.100000  84.975000
50%    8800.00000  87.900000  89.500000  90.100000  90.650000  87.200000
75%    8950.00000  90.850000  89.825000  92.500000  94.100000  87.550000
max    9100.00000  92.500000  90.800000  98.200000  94.700000  88.000000

         Block 6
count   4.000000
mean   94.450000
std     3.103224
min    90.700000
25%    92.725000
50%    94.600000
75%    96.325000
max    97.900000
   Pressure  Block 1  Block 2  Block 3  Block 4  Block 5  Block 6
0      8500     90.3     89.2     98.2     93.9     87.4     97.9
1      8700     92.5     89.5     90.6     94.7     87.0     95.8
2      8900     85.5     90.8     89.6     86.2     88.0     93.4
3      9100     82.5     89.5     85.6     87.4     78.9     90.7

n = 24 total treatments \
blocks = 6 \
treatments = 4

In [310]:
n = 24
b = 6
a = 4 #treatments

In [311]:


df["sum"] = df.sum(axis=1)
df1 = df.loc[:, "Block 1": "Block 6"]
df1["sum"] = df1.sum(axis=1)
df1

   Block 1  Block 2  Block 3  Block 4  Block 5  Block 6    sum
0     90.3     89.2     98.2     93.9     87.4     97.9  556.9
1     92.5     89.5     90.6     94.7     87.0     95.8  550.1
2     85.5     90.8     89.6     86.2     88.0     93.4  533.5
3     82.5     89.5     85.6     87.4     78.9     90.7  514.6

In [312]:
df1 = df1.append(df1.sum(numeric_only=True), ignore_index=True)
df2 = df1.rename({4:"Block Totals"})

In [313]:
# df2 like in the book
print(df2)

              Block 1  Block 2  Block 3  Block 4  Block 5  Block 6     sum
0                90.3     89.2     98.2     93.9     87.4     97.9   556.9
1                92.5     89.5     90.6     94.7     87.0     95.8   550.1
2                85.5     90.8     89.6     86.2     88.0     93.4   533.5
3                82.5     89.5     85.6     87.4     78.9     90.7   514.6
Block Totals    350.8    359.0    364.0    362.2    341.3    377.8  2155.1

**Square of Sum Total:**

In [314]:
total_squared = np.power(df2['sum']['Block Totals'],2)
print(total_squared)

4644456.01

### Obtain Squares
**For SS_total**

In [315]:
square_table = df2.loc[0:3, "Block 1":"Block 6"].transform(lambda x : x*x)
print(square_table)

   Block 1  Block 2  Block 3  Block 4  Block 5  Block 6
0  8154.09  7956.64  9643.24  8817.21  7638.76  9584.41
1  8556.25  8010.25  8208.36  8968.09  7569.00  9177.64
2  7310.25  8244.64  8028.16  7430.44  7744.00  8723.56
3  6806.25  8010.25  7327.36  7638.76  6225.21  8226.49

In [316]:
square_table = square_table.append(square_table.sum(numeric_only=True), ignore_index = True)
square_table['sums'] = square_table.sum(axis = 1)
print(square_table)

    Block 1   Block 2   Block 3   Block 4   Block 5   Block 6       sums
0   8154.09   7956.64   9643.24   8817.21   7638.76   9584.41   51794.35
1   8556.25   8010.25   8208.36   8968.09   7569.00   9177.64   50489.59
2   7310.25   8244.64   8028.16   7430.44   7744.00   8723.56   47481.05
3   6806.25   8010.25   7327.36   7638.76   6225.21   8226.49   44234.32
4  30826.84  32221.78  33207.12  32854.50  29176.97  35712.10  193999.31

**The Final Sum Of Squares:**

In [317]:
sum_of_squares = square_table['sums'][square_table.index[-1]]
print(sum_of_squares)

193999.31

### Obtain SS

In [318]:
ss_total_div_n = (sum_of_squares - total_squared/n)
print(f"SS_Total is {ss_total_div_n}") # assert 480

SS_Total is 480.30958333335

### Calculation on SS_treatments

In [319]:
# df2 is the dataframe with col & row sums
print(df2)

              Block 1  Block 2  Block 3  Block 4  Block 5  Block 6     sum
0                90.3     89.2     98.2     93.9     87.4     97.9   556.9
1                92.5     89.5     90.6     94.7     87.0     95.8   550.1
2                85.5     90.8     89.6     86.2     88.0     93.4   533.5
3                82.5     89.5     85.6     87.4     78.9     90.7   514.6
Block Totals    350.8    359.0    364.0    362.2    341.3    377.8  2155.1

**Sum of all the squares of the treatment totals**

In [320]:
treatments_square = df2
treatments_square['sum^2'] = treatments_square['sum'] ** 2
treatments_square

,Block 1,Block 2,Block 3,Block 4,Block 5,Block 6,sum,sum^2
0,90.3,89.2,98.2,93.9,87.4,97.9,556.9,310137.61
1,92.5,89.5,90.6,94.7,87.0,95.8,550.1,302610.01
2,85.5,90.8,89.6,86.2,88.0,93.4,533.5,284622.25
3,82.5,89.5,85.6,87.4,78.9,90.7,514.6,264813.16
Block Totals,350.8,359.0,364.0,362.2,341.3,377.8,2155.1,4644456.01

In [321]:
treatments_square = treatments_square[:-1]
treatments_square = treatments_square.append(treatments_square.sum(numeric_only=True), ignore_index=True)
print(treatments_square)
# sum_treatments_square_df = treatments_square.iloc[0:4].sum(axis = 1).to_frame()
# sum_treatments_square_df = sum_treatments_square_df.append(sum_treatments_square_df.sum(numeric_only= False ), ignore_index=True)
# print(sum_treatments_square_df)

   Block 1  Block 2  Block 3  Block 4  Block 5  Block 6     sum       sum^2
0     90.3     89.2     98.2     93.9     87.4     97.9   556.9   310137.61
1     92.5     89.5     90.6     94.7     87.0     95.8   550.1   302610.01
2     85.5     90.8     89.6     86.2     88.0     93.4   533.5   284622.25
3     82.5     89.5     85.6     87.4     78.9     90.7   514.6   264813.16
4    350.8    359.0    364.0    362.2    341.3    377.8  2155.1  1162183.03

In [322]:
sum_treatments_square = treatments_square['sum^2'][treatments_square.index[-1]]
print(sum_treatments_square)

1162183.03

**Sum of Squares of Treatments:**

In [323]:
ss_treatments = (sum_treatments_square/b) - (total_squared/n)
print(ss_treatments) ## assert 178.17

178.17125000001397

### Calculation on Sum of Squares Blocks

In [324]:
# df2 again


df2 = df2.drop('sum', axis = 1)
df2 = df2.drop('sum^2', axis = 1)

In [325]:
blocks_square_df = df2.append(df2.tail(1) ** 2, ignore_index=True)
blocks_square_df

     Block 1   Block 2   Block 3    Block 4    Block 5    Block 6
0      90.30      89.2      98.2      93.90      87.40      97.90
1      92.50      89.5      90.6      94.70      87.00      95.80
2      85.50      90.8      89.6      86.20      88.00      93.40
3      82.50      89.5      85.6      87.40      78.90      90.70
4     350.80     359.0     364.0     362.20     341.30     377.80
5  123060.64  128881.0  132496.0  131188.84  116485.69  142732.84

In [326]:
blocks_square_df['sums'] = blocks_square_df.sum(axis= 1)
blocks_square_df

     Block 1   Block 2   Block 3    Block 4    Block 5    Block 6       sums
0      90.30      89.2      98.2      93.90      87.40      97.90     556.90
1      92.50      89.5      90.6      94.70      87.00      95.80     550.10
2      85.50      90.8      89.6      86.20      88.00      93.40     533.50
3      82.50      89.5      85.6      87.40      78.90      90.70     514.60
4     350.80     359.0     364.0     362.20     341.30     377.80    2155.10
5  123060.64  128881.0  132496.0  131188.84  116485.69  142732.84  774845.01

In [327]:
sum_of_blocks_square = blocks_square_df['sums'][blocks_square_df.index[-1]]
print(sum_of_blocks_square)

774845.01

### Calculate SS_Blocks

In [328]:
ss_blocks = (sum_of_blocks_square/a) - (total_squared/n)
print(ss_blocks)

192.25208333335468

### Calculate SS_E

In [329]:
SS_err = ss_total_div_n - ss_treatments - ss_blocks
print(SS_err)

109.88624999998137

### Calculate F stat

In [330]:
f_naught = (ss_treatments/(a-1))/(SS_err/((a-1)*(b-1)))
print(f_naught)

8.10707663606885